Pobierz dane dotyczące scoringu kredytowego

*Pracujesz jako analityk danych w globalnej firmie finansowej. Przez lata firma gromadziła podstawowe dane bankowe i wiele informacji związanych z kredytami. Kierownictwo chce zbudować inteligentny system do segregowania ludzi w przedziałach oceny kredytowej, aby zmniejszyć wysiłek ręczny.*

**Zadanie na dziś: przygotować dane do modelu**

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

import danych

In [2]:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "train.csv"

# Load the latest version
df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,
)

print("First 5 records:", df.head())

<ipython-input-2-db52f5663265>:9: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,

Downloading from https://www.kaggle.com/api/v1/datasets/download/parisrohan/credit-score-classification?dataset_version_number=1&file_name=train.csv...

100%|██████████| 6.09M/6.09M [00:00<00:00, 38.0MB/s]

Extracting zip of train.csv...

/usr/local/lib/python3.11/dist-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(

First 5 records:        ID Customer_ID     Month           Name   Age          SSN Occupation  \
0  0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0      19114.12            1824.843333                  3  ...           _
1      19114.12                    NaN                  3  ...        Good
2      19114.12                    NaN                  3  ...        Good
3      19114.12                    NaN                  3  ...        Good
4      19114.12            1824.843333                  3  ...        Good

   Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0            809.98                26.822620  22 Years and 1 Months
1            809.98                31.944960                    NaN
2            809.98                28.609352  22 Years and 3 Months
3            809.98                31.377862  22 Years and 4 Months
4            809.98                24.797347  22 Years and 5 Months

   Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                     No           49.574949       80.41529543900253
1                     No           49.574949      118.28022162236736
2                     No           49.574949         81.699521264648
3                     No           49.574949       199.4580743910713
4                     No           49.574949      41.420153086217326

                  Payment_Behaviour     Monthly_Balance Credit_Score
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 28 columns]

**Poznaj dane:**

1.   sprawdź wymiary i typy kolumn
2.   usuń duplikaty
3.   usuń zdbędne kolumny
4.   sprawdz liczbę braków danych w poszczególnych kolumnach

In [3]:
print("Wymiary danych:", df.shape)
print("\nTypy danych:")
print(df.dtypes)
#Usunięcie duplikatów
df = df.drop_duplicates()
print("\nLiczba wierszy po usunięciu duplikatów:", df.shape[0])

Wymiary danych: (100000, 28)

Typy danych:
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

Liczba wierszy po usunięciu duplikatów: 100000

Usuń kolumny, które nie będą wykorzystywane w analizie ['ID','Customer_ID','SSN','Name']

In [4]:
drop_columns = ['ID', 'Customer_ID', 'SSN', 'Name']
df = df.drop(columns=[col for col in drop_columns if col in df.columns])
print("\nKolumny po usunięciu zbędnych:", df.columns)

Kolumny po usunięciu zbędnych: Index(['Month', 'Age', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

usuń niektore z zbędnych znakow ('_','-'), zmień puste komorki na nan

In [5]:
print("Wymiary danych:", df.shape)
print("\nTypy danych:")
print(df.dtypes)
df.info()
#zmień dane na numeryczne
FeaturesToConvert = ['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']
# ale najpierw sprawdź czy nie ma błędów w danych
for feature in FeaturesToConvert:
  uniques = df[feature].unique()
  print('Feature:','\n', '\n', uniques,'\n','--'*40,'\n')
# zmien typ zmiennych ilościowych
for feature in FeaturesToConvert:
  df[feature] = df[feature].astype('float64')

Wymiary danych: (100000, 24)

Typy danych:
Month                        object
Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     100000 non-null  object
 1   Age                       100000 non-null  object
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  object
 4   Monthly_Inhand_Salary     84998 non-null   float64
 5   Num_Bank_Accounts         100000 non-null  int64
 6   Num_Credit_Card           100000 non-null  int64
 7   Interest_Rate             100000 non-null  int64
 8   Num_of_Loan               100000 non-null  object
 9   Type_of_Loan              88592 non-null   object
 10  Delay_from_due_date       100000 non-null  int64
 11  Num_of_Delayed_Payment    92998 non-null   object
 12  Changed_Credit_Limit      100000 non-null  object
 13  Num_Credit_Inquiries      98035 non-null   float64
 14  Credit_Mix                100000 non-null  object
 15  Outstanding_Debt          100000 non-null  object
 16  Credit_Utilization_Ratio  100000 non-null  float64
 17  Credit_History_Age        90970 non-null   object
 18  Payment_of_Min_Amount     100000 non-null  object
 19  Total_EMI_per_month       100000 non-null  float64
 20  Amount_invested_monthly   95521 non-null   object
 21  Payment_Behaviour         100000 non-null  object
 22  Monthly_Balance           98800 non-null   object
 23  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 18.3+ MB
Feature:

 ['23' '-500' '28_' ... '4808_' '2263' '1342']
 --------------------------------------------------------------------------------

Feature:

 ['19114.12' '34847.84' '34847.84_' ... '20002.88' '39628.99' '39628.99_']
 --------------------------------------------------------------------------------

Feature:

 ['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_' '7' '5' '5_' '6' '8' '8_'
 '9' '9_' '4_' '7_' '1_' '1464' '6_' '622' '352' '472' '1017' '945' '146'
 '563' '341' '444' '720' '1485' '49' '737' '1106' '466' '728' '313' '843'
 '597_' '617' '119' '663' '640' '92_' '1019' '501' '1302' '39' '716' '848'
 '931' '1214' '186' '424' '1001' '1110' '1152' '457' '1433' '1187' '52'
 '1480' '1047' '1035' '1347_' '33' '193' '699' '329' '1451' '484' '132'
 '649' '995' '545' '684' '1135' '1094' '1204' '654' '58' '348' '614'
 '1363' '323' '1406' '1348' '430' '153' '1461' '905' '1312' '1424' '1154'
 '95' '1353' '1228' '819' '1006' '795' '359' '1209' '590' '696' '1185_'
 '1465' '911' '1181' '70' '816' '1369' '143' '1416' '455' '55' '1096'
 '1474' '420' '1131' '904' '89' '1259' '527' '1241' '449' '983' '418'
 '319' '23' '238' '638' '138' '235_' '280' '1070' '1484' '274' '494'
 '1459_' '404' '1354' '1495' '1391' '601' '1313' '1319' '898' '231' '752'
 '174' '961' '1046' '834' '284' '438' '288' '1463' '1151' '719' '198'
 '1015' '855' '841' '392' '1444' '103' '1320_' '745' '172' '252' '630_'
 '241' '31' '405' '1217' '1030' '1257' '137' '157' '164' '1088' '1236'
 '777' '1048' '613' '330' '1439' '321' '661' '952' '939' '562' '1202'
 '302' '943' '394' '955' '1318' '936' '781' '100' '1329' '1365' '860'
 '217' '191' '32' '282' '351' '1387' '757' '416' '833' '359_' '292'
 '1225_' '1227' '639' '859' '243' '267' '510' '332' '996' '597' '311'
 '492' '820' '336' '123' '540' '131_' '1311_' '1441' '895' '891' '50'
 '940' '935' '596' '29' '1182' '1129_' '1014' '251' '365' '291' '1447'
 '742' '1085' '148' '462' '832' '881' '1225' '1412' '785_' '1127' '910'
 '538' '999' '733' '101' '237' '87' '659' '633' '387' '447' '629' '831'
 '1384' '773' '621' '1419' '289' '143_' '285' '1393' '1131_' '27_' '1359'
 '1482' '1189' '1294' '201' '579' '814' '141' '1320' '581' '1171_' '295'
 '290' '433' '679' '1040' '1054' '1430' '1023' '1077' '1457' '1150' '701'
 '1382' '889' '437' '372' '1222' '126' '1159' '868' '19' '1297' '227_'
 '190' '809' '1216' '1074' '571' '520' '1274' '1340' '991' '316' '697'
 '926' '873' '1002' '378_' '65' '875' '867' '548' '652' '1372' '606'
 '1036' '1300' '17' '1178' '802' '1219_' '1271' '1137' '1496' '439' '196'
 '636' '192' '228' '1053' '229' '753' '1296' '1371' '254' '863' '464'
 '515' '838' '1160' '1289' '1298' '799' '182' '574' '527_' '242' '415'
 '869' '958' '54' '1265' '656' '275' '778' '208' '147' '350' '507' '463'
 '497' '1129' '927' '653' '662' '529' '635' '1027_' '897' '1039' '227'
 '1345' '924' '696_' '1279' '546' '1112' '1210' '526' '300' '1103' '504'
 '136' '1400' '78' '686' '1091' '344' '215' '84' '628' '1470' '968' '1478'
 '83' '1196' '1307' '1132_' '1008' '917' '657' '56' '18' '41' '801' '978'
 '216' '349' '966']
 --------------------------------------------------------------------------------

Feature:

 ['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8' '5' '3' '9' '12' '15' '17'
 '10' '2' '2_' '11' '14' '20' '22' '13' '13_' '14_' '16' '12_' '18' '19'
 '23' '24' '21' '3318' '3083' '22_' '1338' '4_' '26' '11_' '3104' '21_'
 '25' '10_' '183_' '9_' '1106' '834' '19_' '24_' '17_' '23_' '2672' '20_'
 '2008' '-3' '538' '6_' '1_' '16_' '27' '-2' '3478' '2420' '15_' '707'
 '708' '26_' '18_' '3815' '28' '5_' '1867' '2250' '1463' '25_' '7_' '4126'
 '2882' '1941' '2655' '2628' '132' '3069' '306' '0_' '3539' '3684' '1823'
 '4128' '1946' '827' '2297' '2566' '904' '182' '929' '3568' '2503' '1552'
 '2812' '1697' '3764' '851' '3905' '923' '88' '1668' '3253' '808' '2689'
 '3858' '642' '3457' '1402' '1732' '3154' '847' '3037' '2204' '3103'
 '1063' '2056' '1282' '1841' '2569_' '211' '793' '3484' '411' '3491'
 '2072' '3050' '1049' '2162' '3402' '2753' '27_' '1718' '1014' '3260'
 '3855' '84' '2311' '3251' '1832' '4069' '3010' '733' '4241' '166' '2461'
 '1749' '3200' '663_' '2185' '4161' '3009' '359' '2015' '1523' '594'
 '1079' '1199' '186' '1015' '1989' '281' '559' '2165' '1509' '3545' '779'
 '192' '4311' '-2_' '2323' '1471' '1538' '3529' '439' '3456' '3040' '2697'
 '3179' '1332' '3175' '3112' '829' '4022' '3870' '4023' '531' '1511'
 '3092' '3191' '2400' '3621' '3536' '544' '1864' '28_' '142' '2300' '264'
 '72' '497' '398' '2222' '3960' '1473' '3043' '4216' '2903' '2658' '-1_'
 '4042' '1323_' '2184' '921' '1328' '3404' '2438' '809' '47' '1996' '4164'
 '1370' '1204' '2167' '4011' '2590' '2594' '2533' '1663' '1018' '2919'
 '3458' '3316' '2589' '2801' '3355' '2529' '2488' '4266' '1243' '739'
 '845' '4107' '1884' '337' '2660' '290' '674' '2450' '3738' '1792' '2823'
 '2570' '775' '960' '482' '1706' '2493' '3623' '3031' '2794_' '2219_'
 '758_' '1849' '3559' '4096' '3726' '1953' '2657' '4043' '2938' '4384'
 '1647' '2694' '3533' '519' '2677' '2413' '-3_' '4139' '2609' '4326'
 '4211' '823' '3011' '1608' '2860' '4219' '4047' '1531' '742' '52' '4024'
 '1673' '49' '2243' '1685' '1869' '2587' '3489' '749' '1164' '2616' '848_'
 '4134' '1530' '1502' '4075' '3845' '1060' '2573' '2128' '328' '640'
 '2585' '2230' '1795' '1180' '1534' '3739' '3313' '4191' '996' '372'
 '3340' '3177' '602' '787' '4135' '3878' '4059' '1218' '4051' '1766'
 '1359' '3107' '585' '1263' '2511' '709' '3632' '4077' '2943' '2793'
 '3245' '2317' '1640' '2237_' '3819' '252' '3978' '1498' '1833' '2737'
 '1192' '1481' '700' '271' '2286' '273' '1215' '3944' '2070' '1478' '3749'
 '871' '2508' '2959' '130' '294' '3097_' '3511' '415' '2196' '2138' '2149'
 '1874' '1553' '3847' '3222' '1222' '2907' '3051' '98' '1598' '416' '2314'
 '2955' '1691' '1450' '2021' '1636' '80' '3708' '195' '320' '2945' '1911'
 '3416' '3796' '4159' '2255' '938' '4397' '3776' '2148' '1994' '853'
 '1178' '1633' '196' '3864' '714' '1687' '1034' '468' '1337' '2044' '1541'
 '3661' '1211' '2645' '2007' '102' '1891' '3162' '3142' '2566_' '2766'
 '3881' '2728' '2671' '1952' '3580' '2705' '4251' '3840_' '972' '3119'
 '3502' '4185' '2954' '683' '1614' '1572' '4302' '3447' '1852' '2131'
 '1900' '1699' '133' '2018' '2127' '508' '210' '577' '1664' '2604' '1411'
 '2351' '867' '1371' '2352' '1191' '905' '4053' '3869' '933' '3660' '3300'
 '3629' '3208' '2142' '2521' '450' '583' '876' '121' '3919' '2560' '2578'
 '2060' '813' '1236' '1489' '4360' '1154' '2544' '4172' '2924' '426'
 '4270' '2768' '3909' '3951' '2712' '2498' '3171' '1750' '197' '2569'
 '265' '4293' '887' '2707' '2397' '4337' '4249' '2751' '2950' '1859' '107'
 '2348' '2506' '2810' '2873' '1301' '2262' '1890' '3078' '3865' '3268'
 '2777' '3105' '1278' '3793' '2276' '2879' '4298' '2141' '223' '2239'
 '846' '1862' '2756' '1181' '1184' '2617' '3972' '2334' '3900' '2759'
 '4169' '2280' '2492' '2729' '3750' '1825' '309' '2431' '3099' '2080'
 '2279' '2666' '3722' '1976' '529' '1985' '3060' '4278' '3212' '46' '3148'
 '3467' '4231' '3790' '473' '1536' '3955' '2324' '2381' '1177' '371'
 '2896' '3880' '2991' '4319' '1061' '662' '4144' '693' '2006' '3115'
 '2278_' '3751' '1861' '4262' '2913' '2615' '3492' '800' '3766' '384'
 '3407' '1087' '3329' '1086' '2216' '1087_' '2457' '3522' '3274' '3488'
 '2854' '238' '351' '3706' '4280' '4095' '2926' '1329' '3370' '283' '1392'
 '1743' '2429' '974' '3156' '1133' '4388' '3243' '4282' '2523' '4281'
 '3415' '2001' '441' '94' '3499' '969' '3368' '106' '1004' '2638' '3946'
 '2956' '4324' '85' '4113' '819' '615' '1172' '2553' '1765' '3495' '2820'
 '4239' '4340' '1295_' '2636' '4295' '1653' '1325' '1879' '1096' '1735'
 '3584' '1073' '1975' '3827' '2552' '3754' '2378' '532' '926' '2376'
 '3636' '3763' '778' '2621' '804' '754' '2418' '4019' '3926' '3861_'
 '3574' '175' '162' '2834' '3765' '2354' '523' '2274' '1606' '1443' '1354'
 '2142_' '1422' '2278' '1045' '4106' '3155' '666' '659' '3229' '1216'
 '2076' '1473_' '2384' '1954' '719' '2534' '4002' '541' '2875' '4344'
 '2081' '3894' '1256' '676' '4178' '399' '86' '1571' '4037' '1967' '4005'
 '3216' '1150' '2591' '1801' '3721' '1775' '2260' '3707' '4292' '1820'
 '145' '1480' '1850' '430' '217' '3920_' '1389' '1579' '3391' '2385'
 '3336' '3392' '3688' '221' '2047']
 --------------------------------------------------------------------------------

Feature:

 ['11.27' '_' '6.27' ... '17.509999999999998' '25.16' '21.17']
 --------------------------------------------------------------------------------

Feature:

 ['809.98' '605.03' '1303.01' ... '3571.7_' '3571.7' '502.38']
 --------------------------------------------------------------------------------

Feature:

 ['80.41529543900253' '118.28022162236736' '81.699521264648' ...
 '24.02847744864441' '251.67258219721603' '167.1638651610451']
 --------------------------------------------------------------------------------

Feature:

 ['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]
 --------------------------------------------------------------------------------

ValueError: could not convert string to float: '28_'

In [6]:
df.replace(['-', '_'], '', inplace=True)
df.replace("",np.nan, inplace=True)
df.columns = df.columns.str.replace('_', '').str.replace('-', '')
print(df.columns)
print(df.head())

Index(['Month', 'Age', 'Occupation', 'AnnualIncome', 'MonthlyInhandSalary',
       'NumBankAccounts', 'NumCreditCard', 'InterestRate', 'NumofLoan',
       'TypeofLoan', 'Delayfromduedate', 'NumofDelayedPayment',
       'ChangedCreditLimit', 'NumCreditInquiries', 'CreditMix',
       'OutstandingDebt', 'CreditUtilizationRatio', 'CreditHistoryAge',
       'PaymentofMinAmount', 'TotalEMIpermonth', 'Amountinvestedmonthly',
       'PaymentBehaviour', 'MonthlyBalance', 'CreditScore'],
      dtype='object')
      Month   Age Occupation AnnualIncome  MonthlyInhandSalary  \
0   January    23  Scientist     19114.12          1824.843333
1  February    23  Scientist     19114.12                  NaN
2     March  -500  Scientist     19114.12                  NaN
3     April    23  Scientist     19114.12                  NaN
4       May    23  Scientist     19114.12          1824.843333

   NumBankAccounts  NumCreditCard  InterestRate NumofLoan  \
0                3              4             3         4
1                3              4             3         4
2                3              4             3         4
3                3              4             3         4
4                3              4             3         4

                                          TypeofLoan  ...  CreditMix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        NaN
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good

  OutstandingDebt CreditUtilizationRatio       CreditHistoryAge  \
0          809.98              26.822620  22 Years and 1 Months
1          809.98              31.944960                    NaN
2          809.98              28.609352  22 Years and 3 Months
3          809.98              31.377862  22 Years and 4 Months
4          809.98              24.797347  22 Years and 5 Months

  PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                 No        49.574949      80.41529543900253
1                 No        49.574949     118.28022162236736
2                 No        49.574949        81.699521264648
3                 No        49.574949      199.4580743910713
4                 No        49.574949     41.420153086217326

                   PaymentBehaviour      MonthlyBalance  CreditScore
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 24 columns]

Zmień nazwy miesiecy na zmienne liczbowe zgodnie z kolejnością miesięcy

In [7]:
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}
df['Month'] = df['Month'].map(month_mapping)

# Wyświetlenie pierwszych 5 wierszy po czyszczeniu
print("\nPodgląd danych po czyszczeniu:")
print(df.head())

Podgląd danych po czyszczeniu:
   Month   Age Occupation AnnualIncome  MonthlyInhandSalary  NumBankAccounts  \
0      1    23  Scientist     19114.12          1824.843333                3
1      2    23  Scientist     19114.12                  NaN                3
2      3  -500  Scientist     19114.12                  NaN                3
3      4    23  Scientist     19114.12                  NaN                3
4      5    23  Scientist     19114.12          1824.843333                3

   NumCreditCard  InterestRate NumofLoan  \
0              4             3         4
1              4             3         4
2              4             3         4
3              4             3         4
4              4             3         4

                                          TypeofLoan  ...  CreditMix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        NaN
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good

  OutstandingDebt CreditUtilizationRatio       CreditHistoryAge  \
0          809.98              26.822620  22 Years and 1 Months
1          809.98              31.944960                    NaN
2          809.98              28.609352  22 Years and 3 Months
3          809.98              31.377862  22 Years and 4 Months
4          809.98              24.797347  22 Years and 5 Months

  PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                 No        49.574949      80.41529543900253
1                 No        49.574949     118.28022162236736
2                 No        49.574949        81.699521264648
3                 No        49.574949      199.4580743910713
4                 No        49.574949     41.420153086217326

                   PaymentBehaviour      MonthlyBalance  CreditScore
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 24 columns]

Zakoduj zmienne tekstowe: 'Occupation', 'Type_of_Loan', 'Payment_Behaviour', 'Credit_Mix', użyj LabelEncodera

In [8]:
label_enc_cols = ['Occupation', 'Type_of_Loan', 'Payment_Behaviour', 'Credit_Mix']
label_encoders = {}
for col in label_enc_cols:
    if col in df.columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))
        label_encoders[col] = le

# Wyświetlenie pierwszych 5 wierszy po czyszczeniu
print("\nPodgląd danych po czyszczeniu:")
print(df.head(10))

Podgląd danych po czyszczeniu:
   Month   Age  Occupation AnnualIncome  MonthlyInhandSalary  NumBankAccounts  \
0      1    23          12     19114.12          1824.843333                3
1      2    23          12     19114.12                  NaN                3
2      3  -500          12     19114.12                  NaN                3
3      4    23          12     19114.12                  NaN                3
4      5    23          12     19114.12          1824.843333                3
5      6    23          12     19114.12                  NaN                3
6      7    23          12     19114.12          1824.843333                3
7      8    23          12     19114.12          1824.843333                3
8      1   28_          15     34847.84          3037.986667                2
9      2    28          13     34847.84          3037.986667                2

   NumCreditCard  InterestRate NumofLoan  \
0              4             3         4
1              4             3         4
2              4             3         4
3              4             3         4
4              4             3         4
5              4             3         4
6              4             3         4
7              4             3         4
8              4             6         1
9              4             6         1

                                          TypeofLoan  ...  CreditMix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        NaN
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
5  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
6  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
7  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
8                                Credit-Builder Loan  ...       Good
9                                Credit-Builder Loan  ...       Good

  OutstandingDebt CreditUtilizationRatio       CreditHistoryAge  \
0          809.98              26.822620  22 Years and 1 Months
1          809.98              31.944960                    NaN
2          809.98              28.609352  22 Years and 3 Months
3          809.98              31.377862  22 Years and 4 Months
4          809.98              24.797347  22 Years and 5 Months
5          809.98              27.262259  22 Years and 6 Months
6          809.98              22.537593  22 Years and 7 Months
7          809.98              23.933795                    NaN
8          605.03              24.464031  26 Years and 7 Months
9          605.03              38.550848  26 Years and 8 Months

  PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                 No        49.574949      80.41529543900253
1                 No        49.574949     118.28022162236736
2                 No        49.574949        81.699521264648
3                 No        49.574949      199.4580743910713
4                 No        49.574949     41.420153086217326
5                 No        49.574949     62.430172331195294
6                 No        49.574949      178.3440674122349
7                 No        49.574949     24.785216509052056
8                 No        18.816215       104.291825168246
9                 No        18.816215      40.39123782853101

                   PaymentBehaviour      MonthlyBalance  CreditScore
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good
5                            !@9#%8   340.4792117872438         Good
6    Low_spent_Small_value_payments   244.5653167062043         Good
7  High_spent_Medium_value_payments  358.12416760938714     Standard
8    Low_spent_Small_value_payments  470.69062692529184     Standard
9   High_spent_Large_value_payments   484.5912142650067         Good

[10 rows x 24 columns]

Przelicz kolumne Credit_History_Age na liczbę mięsiecy

In [12]:
if 'Credit_History_Age' in df.columns:
    df['Credit_History_Age'] = df['Credit_History_Age'].astype(str)
    df[['Years', 'Months']] = df['Credit_History_Age'].str.extract(r'(\d+)\s*Years?\s*(\d*)\s*Months?')
    df['Years'] = df['Years'].fillna(0).astype(float) * 12
    df['Months'] = df['Months'].fillna(0).astype(float)
    df['Credit_History_Age'] = df['Years'] + df['Months']
    df = df.drop(columns=['Years', 'Months'])

# Wyświetlenie pierwszych 5 wierszy po czyszczeniu
print("\nPodgląd danych po czyszczeniu:")
print(df.head(10))

Podgląd danych po czyszczeniu:
   Month   Age  Occupation AnnualIncome  MonthlyInhandSalary  NumBankAccounts  \
0      1    23          12     19114.12          1824.843333                3
1      2    23          12     19114.12                  NaN                3
2      3  -500          12     19114.12                  NaN                3
3      4    23          12     19114.12                  NaN                3
4      5    23          12     19114.12          1824.843333                3
5      6    23          12     19114.12                  NaN                3
6      7    23          12     19114.12          1824.843333                3
7      8    23          12     19114.12          1824.843333                3
8      1   28_          15     34847.84          3037.986667                2
9      2    28          13     34847.84          3037.986667                2

   NumCreditCard  InterestRate NumofLoan  \
0              4             3         4
1              4             3         4
2              4             3         4
3              4             3         4
4              4             3         4
5              4             3         4
6              4             3         4
7              4             3         4
8              4             6         1
9              4             6         1

                                          TypeofLoan  ...  CreditMix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...        NaN
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
5  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
6  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
7  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
8                                Credit-Builder Loan  ...       Good
9                                Credit-Builder Loan  ...       Good

  OutstandingDebt CreditUtilizationRatio       CreditHistoryAge  \
0          809.98              26.822620  22 Years and 1 Months
1          809.98              31.944960                    NaN
2          809.98              28.609352  22 Years and 3 Months
3          809.98              31.377862  22 Years and 4 Months
4          809.98              24.797347  22 Years and 5 Months
5          809.98              27.262259  22 Years and 6 Months
6          809.98              22.537593  22 Years and 7 Months
7          809.98              23.933795                    NaN
8          605.03              24.464031  26 Years and 7 Months
9          605.03              38.550848  26 Years and 8 Months

  PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                 No        49.574949      80.41529543900253
1                 No        49.574949     118.28022162236736
2                 No        49.574949        81.699521264648
3                 No        49.574949      199.4580743910713
4                 No        49.574949     41.420153086217326
5                 No        49.574949     62.430172331195294
6                 No        49.574949      178.3440674122349
7                 No        49.574949     24.785216509052056
8                 No        18.816215       104.291825168246
9                 No        18.816215      40.39123782853101

                   PaymentBehaviour      MonthlyBalance  CreditScore
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good
5                            !@9#%8   340.4792117872438         Good
6    Low_spent_Small_value_payments   244.5653167062043         Good
7  High_spent_Medium_value_payments  358.12416760938714     Standard
8    Low_spent_Small_value_payments  470.69062692529184     Standard
9   High_spent_Large_value_payments   484.5912142650067         Good

[10 rows x 24 columns]

In [10]:
# Rozdzielanie wartości po przecinku i usuwanie zbędnych spacji
df['Type_of_Loan'] = df['Type_of_Loan'].str.split(', ')

# Użycie MultiLabelBinarizer do One-Hot Encoding
mlb = MultiLabelBinarizer()
encoded_df = pd.DataFrame(mlb.fit_transform(df['Type_of_Loan']), columns=mlb.classes_)

# Łączenie z oryginalnym DataFrame
df = df.join(encoded_df).drop(columns=['Type_of_Loan'])

print(df.head())

KeyError: 'Type_of_Loan'

Zmien inne zmienne na numeryczne

Uzupełnij braki w kolumnie Monthly_Inhand_Salary,  Annual_Income, .. średnią

Narysuj rozkłady zmiennych 'Annual_Income', 'Monthly_Balance'

usuń wartości odstające (w przypadku wieku wszystkie ujemne i te powyzej 100 lat)

Zwizualizuj korelacje między zmiennymi